
html {
  height: 100%;
  box-sizing: border-box;
}

iframe#audio {

}

img#ad {
  width: 90%;
  align-self: center;
}

.independent-content {
  text-align: center;
  padding: 1rem;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #eee;
  text-align: left;
}

.header {
  margin-top:0;
  margin-bottom: 1rem;
  border-bottom:3px solid #e5e5e5;
  font-size:20px"
}

.container {
  min-width: 90%;
  max-width:100%;
  min-height:100%;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}

hr#divider {
  min-width: 100%;
  max-width:100%;
  position: relative;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, -80px, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 4vmin;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 3px solid #e5e5e5;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 0;
}

.site-content {
  flex: none;
  min-height:100vh;
}
