<!DOCTYPE html5>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>hofuchi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
  crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <link href="{{ url_for('static', filename='css/custom.css') }}"
  rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="Site" style="padding-bottom:0">
  <header>
    <nav class="navbar navbar-light bg-light navbar-expand-sm" style="margin-bottom:0">
      <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin:9px">
        <span class="sr-only">Toggle navigation</span>
      </button>

      <a class="navbar-brand" href="/" style="padding:8px 8px; font-size:.7em;">
      	Graham Scanlon
    	</a>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
      style="margin-right:0">
        <ul class="nav navbar-nav">
          <li class="nav-item {% if request.endpoint == 'home' %} active {% endif %}"><a href="/home" class="nav-link"> Home </a>
          </li>
          <li class="nav-item {% if request.endpoint == 'main' %} active {% endif %}"><a href="/main" class="nav-link"> Main </a>
          </li>
        </ul>
        <ul class="nav navbar-nav ">
          <!--<li role="separator" class="divider"></li>-->
          <li class="nav-item {% if request.endpoint == 'help' %} active {% endif %}"><a href="/help" class="nav-link"> Help </a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">{% if session.logged_in %}
          <li class="nav-item {% if request.endpoint == 'profile' or request.endpoint == 'update' %} active {% endif %}"><a href="/profile" class="nav-link"> Profile </a>
          </li>
          <li class="nav-item {% if request.endpoint == 'logout' %} active {% endif %}"><a href="/logout" class="nav-link"> Logout </a>
          </li>{% else %}
          <li class="nav-item {% if request.endpoint == 'login' %} active {% endif %}"><a href="/login" class="nav-link"> Login </a>
          </li>
          <li class="nav-item {% if request.endpoint == 'register' %} active {% endif %}"><a href="/register" class="nav-link"> Register </a>
          </li>{% endif %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      <!-- /.container-fluid -->
    </nav>
  </header>

  <main class="Site-content" >
    <div class="main-content" >
      <div class="container-fluid" id="flashmsg">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&#xD7;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div class="container block-body">
        {% block body %}{% endblock %}
      </div>
    </div>
  </main>

  &nbsp;

  <footer class="footer" style="position:relative">
    <nav class="navbar navbar-light bg-light navbar-expand-sm" style="margin-bottom:0px">
      <div class="row" style="width:100vw">
        <div class="col-12 col-md-6 col-lg-8">
        	<h3>You've reached the end</h3>
        	<h6>Contact: gscanlon21@gmail.com</h6>
        	<h6><a href="/donate/"><strong>Donate</strong></a></h6>
        	<h6><a href="/feedback/"><strong>Feedback</strong></a></h6>
        </div>
        <div class="col-6 col-lg-4">
        	<h6>Legal:</h6>
        	<h6><a href="/tos/"><strong>Terms of Service</strong></a></h6>
        	<h6><a href="/privacy/"><strong>Privacy Policy</strong></a></h6>
        </div>
      </div>
    </nav>
  </footer>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>
