<!DOCTYPE html5>

{% extends "base.html" %}

{% block body %}

<div class="container login-wrapper">
  <form class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address or username</label>
    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address or username" required autofocus value="{{request.form.username}}">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required value="{{request.form.password}}">
    <p>{{error}}</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" value="Login" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->

{% endblock %}
