<!DOCTYPE html5>

{% extends "base.html" %}

{% block body %}

<div>
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="/profile">Profile</a></li>
	  <li role="presentation" class="active"><a href="#">Update/Change Settings</a></li>
	</ul>
</div>

{% endblock %}
